<p-dialog header="Edit Employee" [(visible)]="visible" [style]="{ width: '50vw' }">

    <form>
      <div class="row">
        <div class="card flex justify-content-center">
          <span class="p-float-label">
            <input pInputText id="editFirstName" name="editFirstName" [(ngModel)]="employeeData.firstName" />
            <label htmlFor="editFirstName">First Name</label>
          </span>
        </div>
        <div class="card flex justify-content-center">
          <span class="p-float-label">
            <input pInputText id="editLastName" name="editLastName" [(ngModel)]="employeeData.lastName" />
            <label htmlFor="editLastName">Last Name</label>
          </span>
        </div>
      </div>
  
      <div class="row">
        <div class="card flex justify-content-center">
          <span class="p-float-label">
            <input pInputText id="editEmail" name="editEmail" [(ngModel)]="employeeData.email" />
            <label htmlFor="editEmail">Email</label>
          </span>
        </div>
        <div class="card flex justify-content-center">
          <span class="p-float-label">
            <p-inputNumber inputId="editContactNo" name="editContactNo" [(ngModel)]="employeeData.contactNo"> </p-inputNumber>
            <label htmlFor="editContactNo">Contact No</label>
          </span>
        </div>
      </div>
  
      <div class="row">
        <div class="card flex justify-content-center">
          <span class="p-float-label">
            <p-inputNumber inputId="editExperience" name="editExperience" [(ngModel)]="employeeData.experience"> </p-inputNumber>
            <label htmlFor="editExperience">Experience</label>
          </span>
        </div>
        <div class="card flex justify-content-center">
          <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center">
              <p-radioButton name="editGender" value="male" [(ngModel)]="employeeData.gender" inputId="editIngredient1"></p-radioButton>
              <label for="editMale" class="ml-2">Male</label>
            </div>
            <div class="flex align-items-center">
              <p-radioButton name="editGender" value="female" [(ngModel)]="employeeData.gender" inputId="editIngredient2"></p-radioButton>
              <label for="editFemale" class="ml-2">Female</label>
            </div>
            <div class="flex align-items-center">
              <p-radioButton name="editGender" value="other" [(ngModel)]="employeeData.gender" inputId="editIngredient3"></p-radioButton>
              <label for="editOther" class="ml-2">Other</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p-calendar placeholder="Date of Birth" name="editDateOfBirth" [(ngModel)]="employeeData.dateOfBirth"></p-calendar>
      </div>
  
      <div class="row">
        <div class="card flex justify-content-center">
          <span class="p-float-label">
            <p-inputNumber inputId="editSalary" name="editSalary" [(ngModel)]="employeeData.salary"> </p-inputNumber>
            <label htmlFor="editSalary">Salary</label>
          </span>
        </div>
      </div>
    </form>
  
    <ng-template pTemplate="footer">
      <p-button (click)="visible = false" label="Cancel" styleClass="p-button-text"></p-button>
      <p-toast></p-toast>
      <p-button label="Save" styleClass="p-button-raised p-button-text p-button-help" ></p-button>
    </ng-template>
  </p-dialog>
  
